:root {
    --main-radius:5px;
    --main-padding:5px;
    --text-color:#66fcf1;
    --text-second-color:#fff;
    --text-third-color: #000000;
    --text-forth-color: #C5C6C7;
}

body {
    background-color:var(--text-third-color);
    opacity: 0.8;
}

hr {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.profile-image {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-left: 100px;
}

.fa-solid {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.8rem;
}

.fa-hand-wave {
    background-color:#fff;
    font-size: 1.5rem;
}

/* links */

.ci-link {
    color: var(--text-third-color);
    opacity: 1.2;
    text-decoration: none
}

.ci-link:hover {
    color: var(--text-second-color);
}

.project-link {
    color: var(--text-third-color);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    display:flex;
    align-items: center;
    justify-content: center;
}

.project-link:hover {
    color: var(--text-second-color);
}

/* Nav styles */

.nav{
    /* background: #ee6a6a; */
    grid-area: nav;
    padding: var(--main-padding);
}

a {
    color: var(--text-forth-color);
}

.navbar-nav .nav-link {
    color: var(--text-forth-color);
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(197, 198, 199, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border-color: var(--wine);
    border-width: 3px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* Main styles */

#main {
    min-height: 100px;
    min-width: 100%;
}

.head-text,
.intro-text {
    color: var(--text-color);
    text-align: center
}

.head-text {
    margin-top: 0.8rem;
}


.para-text1 {
    text-align: center;
    line-height: 1.5rem;
    padding: 1rem;
    line-height: 1.7rem;
}

/* Sections */

#first-section,
#second-section {
    min-height: 20px;
    min-width: 100%;
    background-color: #66fcf1;;
    border-radius: 15px;
}

.second_section_head {
    text-align: center;
}

/* Footer styles */

footer {
    margin-top: 10px;
    background: var(--text-color);
    height: 6rem;
    border-radius: 15px;
}

ul {
    padding: 0;
    text-align: center
}

.social-networks>li {
    display: inline;

}
.social-networks i {
    font-size: 1.4rem;
    padding: 1rem 1rem 0 1rem;
    color: var(--text-third-color);
}
.footer-copyright {
    font-size: 1.1rem;
    padding: 10px;
    text-align: center;
    color: var(--text-third-color);
}

@media only screen and  (min-width:550px) {
    #second-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 2rem;
    }

    .para-text1 {
        font-size: 1.2rem;
    }

    .navbar-nav .nav-link {
        font-size: 1.6rem;
    }

    .head-text {
        font-size: 5rem;
    }

    .project-link:hover {
        color: var(--text-forth-color);
    }

    .navbar-brand {
        font-size: 1.6rem;
    }

    hr {
        display:none;
    }

    .profile-image {
        border-radius: 50%;
        height: 300px;
        width: 300px;
        margin: 2rem 0 0 0 ;
    }

    .grid-container-img {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }


}

